{
    "token": "your bot token",
    "database": {
        "host": "weeb-db",
        "user": "eris",
        "password": "password",
        "database": "accountability"
    },
    "redis": {
        "host": "weeb-redis",
        "port": 6379
    },
    "channel_id": "",
    "pending_review_disappointed_threshold": 25
}
